{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="adicionar">
        <a href="/clubes/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Aluno</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for c in clubes %}
        <tr>
            <td>{{c.nome}}</td>
            <td>{{c.tipo}}</td>
            <td>{{c.aluno.nome}}</td>
            <td><a href="/clubes/edit/{{c.id_clube}}">[E]</a></td>
            <td><a href="/clubes/remove/{{c.id_clube}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}