{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
        <div>
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <form action="/alunos/edit-save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="matricula">Matrícula: </label>
            <input type="text" name="matricula" id="matricula">
        </div>
        <input type="hidden" name="id_aluno" id="id_aluno" value="{{alunos.id_aluno}}">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}