* {
    margin: 0;
    border: 0;
    padding: 0;
    color: black;
}

header {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: red;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: larger;
}

main {
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adicionar {
    background-color: red;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

main div a {
    text-decoration: none;
    color: white;
}

table, td, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

td a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

form {
    border-radius: 5px;
    background-color: red;
    margin: 1rem;
    border: 1px inset red;
    padding: 1rem;
    width: 20rem;
}

form div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

form label {
    color: white;
}

form input, select {
    padding: 0.5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

form button {
    border: 1px inset red;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: large;
    font-weight: 500;
    color: black;
}